In [24]:
import os 
import collections as col
import pandas as pd

df = pd.read_csv('Master Dataset.csv')
df['statecounty'] = df['state'] + ' ' + df['county']

county_count = col.Counter(df['statecounty'])

counties = ['California Santa Clara', 'Georgia Fulton', 'California Los Angeles', 'Wisconsin Milwaukee', 'Massachusetts Suffolk', 'Minnesota Hennepin', 'Missouri St. Louis', 'Washington King', 'Texas Dallas', 'Texas Harris', 'Florida Miami-Dade', 'Illinois Cook', 'Colorado Denver', 'District of Columbia District of Columbia', 'New York New York', 'New York Queens','New York Bronx', 'New York Kings', 'New York Richmond']

for cnty in counties:
    print(cnty, county_count[cnty])

    # California Los Angeles 2286
    # New York ALL BOROUGHS 2116 (New York New York 281, New York Queens 646, New York Bronx 333, New York Kings 748, New York Richmond 108)
    # Illinois Cook 1312
    # Texas Harris 765
    # Texas Dallas 519 (EXCL)
    # Florida Miami-Dade 505
    # Washington King 375
    # ---------STOP HERE------------
    # California Santa Clara 363
    # Wisconsin Milwaukee 296
    # Minnesota Hennepin 293
    # Georgia Fulton 202
    # Missouri St. Louis 198
    # Massachusetts Suffolk 195
    # District of Columbia District of Columbia 178
    # Colorado Denver 143

California Santa Clara 363
Georgia Fulton 202
California Los Angeles 2286
Wisconsin Milwaukee 296
Massachusetts Suffolk 195
Minnesota Hennepin 293
Missouri St. Louis 198
Washington King 375
Texas Dallas 519
Texas Harris 765
Florida Miami-Dade 505
Illinois Cook 1312
Colorado Denver 143
District of Columbia District of Columbia 178
New York New York 281
New York Queens 646
New York Bronx 333
New York Kings 748
New York Richmond 108